<!DOCTYPE html>
<html>
  <head>
    <title>Reddit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navigation" %>
    <div id="main_content" class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <div id="content" class="center-block col-md-9">
      <%= yield %>
    </div>
    </div>
  </body>
</html>
